/* ----------------------------------------------------------------------------
components.css
Enthält alle Regeln zu Komponenten.

Wer es noch schöner möchte, möge sich mal https://cssguidelin.es/ anschauen.
----------------------------------------------------------------------------*/


/* Site Header
-----------------------------------------------------------------------------*/

.site-header {
    border-bottom: solid 1px var(--color-borders);
    margin-bottom: var(--space-stack-xl);
}


/* Navigation
-----------------------------------------------------------------------------*/

#menu-bar {
  width: 100%;
  margin: 0px 0px 0px 0px;
  padding: 6px 6px 4px 6px;
  height: 40px;
  line-height: 100%;
  background: #FFFFFF;
  border: solid 0px #6D6D6D;
  position:relative;
  z-index:999;
}

#menu-bar li {
  margin: 0px 0px 6px 0px;
  padding: 0px 6px 0px 6px;
  float: left;
  position: relative;
  list-style: none;

}
#menu-bar a {
  font-weight: bold;
  font-family: arial;
  font-style: normal;
  font-size: 20px;
  color: #000000;
  text-decoration: none;
  display: block;
  padding: 6px 20px 6px 20px;
 

 
}
#menu-bar li ul li a {
  margin: 0;
}
#menu-bar .active a, #menu-bar li:hover > a {

  background: linear-gradient(top,  #EBEBEB,  #A1A1A1);

}
#menu-bar ul li:hover a, #menu-bar li:hover li a {
  background: none;
  border: none;
  color: #666;

}
#menu-bar ul a:hover {
  background: #737373 !important;
  color: #FFFFFF !important;
  border-radius: 0;
  text-shadow: 2px 2px 3px #FFFFFF;
}
#menu-bar li:hover > ul {
  display: block;
}
#menu-bar ul {
  background: #DDDDDD;
  background: linear-gradient(top,  #FFFFFF,  #7A7A7A);
  display: none;
  margin: 0;
  padding: 0;
  width: 185px;
  position: absolute;
  top: 30px;
  left: 0;
  border: solid 1px #B4B4B4;
  border-radius: 10px;
  box-shadow: 2px 2px 3px #222222;
}
#menu-bar ul li {
  float: none;
  margin: 0;
  padding: 0;
}
#menu-bar ul a {
  padding:10px 0px 10px 15px;
  color:#424242 !important;
  font-size:15px;
  font-style:normal;
  font-family:arial;
  font-weight: normal;
  text-shadow: 2px 2px 3px #FFFFFF;
}



/* Footer
-----------------------------------------------------------------------------*/

/*##### Global Classes #####*/
* {margin: 0;padding: 0;}
body { font-family: arial; font-size: 16px;}

.clearfix {clear: both;}
.center {text-align: center;}
.left {text-align: left;}
.right {text-align: right;}

.clr1 {background: #FFFFFF; color: #333743;}
.clr2 {background: #F1F3F5; color: #8F94A3;}
.clr3 {background: #3E4352; color: #BDC3CF;}
.clr4 {background: #636A7D; color: #E3E7F2;}
.clr5 {background: ; color: #F1F3F5;}
.clr6 {background: ; color: #39B5A1;}
.clr7 {background: ; color: #D45245;}

a {color: #4682B4; text-decoration: none;}
a:hover {color: #26455E; text-decoration: underline;}
a:visited{}

/*##### Footer Structure #####*/
.bo-wrap {clear:both; width: auto;}


/* for 480px or less */
@media screen and (max-width: 480px) {

}

/* ----------------------------------------------------------------------------------------------------*/

.footer {
    border-top: solid 1px var(--color-borders);
    padding: 1em;

}

.wrapper {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-gap: px;
    grid-auto-rows: minmax(100px, auto);

    position: relative;
    text-align: center;
    color: blue;
}

.one {
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;

}

.two {
    grid-column: 1 / span 2;
    grid-row: 2 / span 1;
    background-color:#cccccc;
}



.three {
    grid-column: 3 / span 1;
    grid-row: 2 / span 1;
}

.four {
    grid-column: 1 / span 3;
    grid-row: 3 / span 1;
    background-color:#666666;
}

.five {
    grid-column: 1 / span 3;
    grid-row: 4 / span 1;
    background-color:green;
}

.six {
    grid-column: 2 / span 1;
    grid-row: 3 / span 1;
}

.seven {
    grid-column: 1 / span 1;
    grid-row: 4 / span 1;
}

.eight {
    grid-column: 3 / span 1;
    grid-row: 1 / span 4;
}

.container {
    position: relative;
    text-align: center;
    color: white;
}

.one h1  {
   position: absolute;
    top: 100px;
    left: 16px;
    color:white;
    font-size: 4em;
}

.one h2  {
   position: absolute;
    top: 20px;
    right: 16px;
    color:white;
    font-size: 3em;
}

.one h3{
       position: absolute;
    top: 420px;
    left: 200px;
    color:white;
    font-size: 1.5em;
}



.two i  {
   position: absolute;
    top: 550px;
    left: 200px;
    font-size: 5em;
}

.two h3  {
   position: absolute;
    top: 700px;
    left: 200px;
    text-align: left;


}


.four i{
      position: absolute;
    top: 900px;
    right: 200px;
    font-size: 4em;
    color:white;
}

..four p{
      position: absolute;
    top: 1400px;
    right: 200px;
    text-align: left;
    color:green;
}
    
}

.five .h3{
     position: absolute;
    top: 1200px;
    left: 190px;
    color:white;
    font-size: 3em;
}


.button {
  border-radius: 4px;
  background-color:dodgerblue;
  border: none;
  color: #FFFFFF;
  text-align: center;
  font-size: 28px;
  padding: 20px;
  width: 200px;
  transition: all 0.5s;
  cursor: pointer;
  margin: 5px;

}

.button span {
  cursor: pointer;
  display: inline-block;
  position: relative;
  transition: 0.5s;
}

.button span:after {
  content: '\00bb';
  position: absolute;
  opacity: 0;
  top: 0;
  right: -20px;
  transition: 0.5s;
}

.button:hover span {
  padding-right: 25px;
}

.button:hover span:after {
  opacity: 1;
  right: 0;
}

.one .button{
      position: absolute;
    top: 400px;
    left: 450px;
}

.one .button2{
          position: absolute;
    top: 0px;
    left: 300px;

}

.four img{
    width:200px;
    float: left;
    margin-left: 190px;
}


